.u-section-1 {
  background-image: url("images/Cyberpunk-2077.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  font-size: 3rem;
  margin: 391px 780px 0 -194px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0 -167px;
  padding: 10px 42px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px auto 0 -24px;
  padding: 10px 38px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px auto 0 121px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 780px 0 auto;
  padding: 10px 38px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 54px auto 60px -12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 2.0625rem;
    width: auto;
    margin-top: 337px;
    margin-right: 491px;
    margin-left: -50px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 104px;
    margin-right: 791px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -115px;
    margin-right: 642px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 791px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 31px;
    margin-right: 642px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 72px;
    margin-left: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 354px;
    margin-right: 381px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 118px;
    margin-right: auto;
    margin-left: 14px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -113px;
    margin-right: auto;
    margin-left: 158px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: auto;
    margin-left: 14px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 29px;
    margin-right: 360px;
    margin-left: 158px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 47px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 291px;
    margin-right: 291px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 69px;
    margin-right: 407px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 101px;
    margin-right: 407px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -114px;
    margin-right: 407px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 101px;
    margin-right: 407px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 29px;
    margin-right: 378px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 23px;
    margin-right: 141px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 191px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 123px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -126px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 126px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 52px;
    margin-right: auto;
    margin-left: -21px;
  }
}